# Data processing
## Description

This program loads the unfiltered_stations_data_manual.csv file to start the data preparation process: 
- Convert comma to dot to separate decimal places
- Sort the data in alphabetical order for station code and ascending order for time
- Mark data gaps as NaN values
- Save the result as output file

The manual in the file name means it was altered manually before.

In [1]:
# Import modules
import mestrado_module as mm
import pandas as pd
from pathlib import Path

In [2]:
# Paths
input_folder: Path = Path(mm.path_00_data_manual)
#output_folder: Path = Path("../02_pipeline/01_data_processing")
output_folder: Path = Path(mm.path_pipeline_01_data_processing)

# Files
input_file: Path = Path(mm.unfiltered_data)
#output_data_file: Path = Path("pre_filtered_stations_data.csv")
output_file: Path = Path(mm.output_1a_code_filtered_data)

## Read data

In [3]:
# Load data with Pandas
df = pd.read_csv(input_folder / input_file)
#df

# Check dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1089 entries, 0 to 1088
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Code     1089 non-null   object
 1   Lat_dd   1089 non-null   float64
 2   Lon_dd   1089 non-null   float64
 3   Time_dy  1089 non-null   object
 4   D_dd     1089 non-null   object
 5   I_dd     1089 non-null   object
 6   H_nT     1089 non-null   float64
 7   F_nT     1089 non-null   int64
 8   X_nT     1089 non-null   int64
 9   Y_nT     1003 non-null   float64
 10  Z_nT     1002 non-null   float64
 11  State    1089 non-null   object
 12  Region   1089 non-null   object
 13  RS_name  1089 non-null   object
dtypes: float64(5), int64(2), object(7)
memory usage: 119.2+ KB

## Convert comma to dot and object/int64 to float

In [4]:
df["Time_dy"] = df["Time_dy"].str.replace(",", ".").astype(float)
df["D_dd"] = df["D_dd"].str.replace(",", ".").astype(float)
df["I_dd"] = df["I_dd"].str.replace(",", ".").astype(float)
df["F_nT"] = df["F_nT"].astype(float)
df["X_nT"] = df["X_nT"].astype(float)

# Check the dataframe after the conversions
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1089 entries, 0 to 1088
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Code     1089 non-null   object
 1   Lat_dd   1089 non-null   float64
 2   Lon_dd   1089 non-null   float64
 3   Time_dy  1089 non-null   float64
 4   D_dd     1089 non-null   float64
 5   I_dd     1089 non-null   float64
 6   H_nT     1089 non-null   float64
 7   F_nT     1089 non-null   float64
 8   X_nT     1089 non-null   float64
 9   Y_nT     1003 non-null   float64
 10  Z_nT     1002 non-null   float64
 11  State    1089 non-null   object
 12  Region   1089 non-null   object
 13  RS_name  1089 non-null   object
dtypes: float64(10), object(4)
memory usage: 119.2+ KB

In [5]:
# Check new df, if the the conversions were applied
#df

## Sort data by station code and then by time

In [6]:
# Sort database in ascending order for the Code and Time_dy columns, reset the index
sort_df = df.sort_values(by=["Code", "Time_dy"])
sort_df = sort_df.reset_index()
sort_df

,index,Code,Lat_dd,Lon_dd,Time_dy,D_dd,I_dd,H_nT,F_nT,X_nT,Y_nT,Z_nT,State,Region,RS_name
0,320,AC_CZS,-7.637,-72.670,1958.529,2.683,11.281,29097.0,29671.0,29065.0,1362.0,5804.0,AC,N,CRUZEIRO DO SUL
1,321,AC_CZS,-7.637,-72.670,1965.848,1.824,11.277,28662.0,29227.0,28648.0,912.0,5715.0,AC,N,CRUZEIRO DO SUL
2,322,AC_CZS,-7.620,-72.670,1978.640,-0.035,11.026,27835.0,28359.0,27835.0,-17.0,5423.0,AC,N,CRUZEIRO DO SUL
3,323,AC_CZS,-7.599,-72.770,1986.279,-1.343,10.685,27402.0,27886.0,27394.0,-642.0,5170.0,AC,N,CRUZEIRO DO SUL
4,324,AC_CZS,-7.599,-72.770,1989.503,-1.847,10.468,27222.0,27683.0,27208.0,-877.0,5029.0,AC,N,CRUZEIRO DO SUL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084,776,TO_PNL,-10.727,-48.408,1985.119,-18.142,-7.084,24938.0,25130.0,23698.0,-7765.0,-3099.0,TO,N,PORTO NACIONAL
1085,777,TO_PNL,-10.727,-48.408,1986.670,-18.325,-7.556,24865.0,25083.0,23604.0,-7817.0,-3298.0,TO,N,PORTO NACIONAL
1086,778,TO_PNL,-10.727,-48.408,1995.817,-19.315,-10.562,24358.0,24778.0,22987.0,-8056.0,-4541.0,TO,N,PORTO NACIONAL
1087,779,TO_PNL,-10.721,-48.401,2003.702,-20.117,-13.008,23896.0,24526.0,22438.0,-8218.0,-5520.0,TO,N,PORTO NACIONAL
1088,816,TO_RAB,-9.242,-48.530,1970.729,-16.148,0.093,26189.0,26190.0,25156.0,-7283.0,42.0,TO,N,RIBEIRAO DA AGUA BRANCA

## Mark gaps as NaN values and then save the file

In [7]:
# save file
sort_df = sort_df.drop(columns=["index"])
sort_df.to_csv(output_folder / output_file, na_rep="NaN", index=False)